.desk-sidebar-item:has(a[title="ViyagaERP Settings"]),
.desk-sidebar-item a[title="ViyagaERP Settings"] {
    display: none !important;
}

.desk-sidebar-item:has(a[title="ViyagaERP Integrations"]),
.desk-sidebar-item a[title="ViyagaERP Integrations"] {
    display: none !important;
}

.desk-sidebar-item:has(a[title="Build"]),
.desk-sidebar-item a[title="Build"] {
    display: none !important;
}